In [122]:
import pandas as pd 

data1 = pd.read_csv('mapkickstarter/MasterKickstarter.csv')
data1.head()

,Unnamed: 0,X1,X1_1,Country,City,id,name,blurb,goal,pledged,...,Backers_as_Prct_of_Pop_YM,Backers_as_Prct_of_Pop_Y,Days_spent_making_campign,Days_inception_to_Deadline,Backers_in_city_Y,Backers_in_city_YM,All_Time_Backers_city,Mean_Pledge_City,Mean_pledge_city_Y,Mean_pledge_city_YM
0,1,1,1,AUS,Adelaide,1337161279,"Worlds & Creatures, the Art of Anthony Christou",A 100 page Artbook featuring the work of Antho...,5000.0,16081.00,...,0.020015,0.044034,21,59,473,215,1672,3124.0,2975.532222,215.0
1,2,2,2,AUS,Adelaide,1533913565,Pheonician Entertainment Productions,"Wordsmith! The story of good vs Evil, Hero vs ...",5500.0,257.00,...,0.000465,0.044034,22,62,473,5,1672,3124.0,2975.532222,2.5
2,3,3,3,AUS,Adelaide,1666009607,The Postnatalist - Second issue comic book,The Postnatalist explores feminist issues invo...,300.0,353.12,...,0.000838,0.000931,3,48,10,9,1672,3124.0,94.440000,4.5
3,4,4,4,AUS,Adelaide,1759296231,Alkandros: Futurewear 3000 Square Sunglasses; ...,Alkandros Designs is interested in being diffe...,5000.0,90.00,...,0.000279,0.044034,84,144,473,3,1672,3124.0,2975.532222,3.0
4,5,5,5,AUS,Adelaide,458085213,School of the Road: Autism and Adventure Docum...,A feature length documentary and educational s...,100000.0,16272.56,...,0.009310,0.044034,68,103,473,100,1672,3124.0,2975.532222,100.0

In [123]:
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

whole_x = data1.drop(['Unnamed: 0', 'X1', 'X1_1'], axis = 1)
success_x = whole_x[whole_x.status == 'successful']
failed_x = whole_x[whole_x.status == 'failed']
train_x = pd.concat([success_x, failed_x])
train_x.head()

,Country,City,id,name,blurb,goal,pledged,status,slug,disable_communication,...,Backers_as_Prct_of_Pop_YM,Backers_as_Prct_of_Pop_Y,Days_spent_making_campign,Days_inception_to_Deadline,Backers_in_city_Y,Backers_in_city_YM,All_Time_Backers_city,Mean_Pledge_City,Mean_pledge_city_Y,Mean_pledge_city_YM
0,AUS,Adelaide,1337161279,"Worlds & Creatures, the Art of Anthony Christou",A 100 page Artbook featuring the work of Antho...,5000.0,16081.00,successful,worlds-and-creatures-the-art-of-anthony-christou,False,...,0.020015,0.044034,21,59,473,215,1672,3124.0,2975.532222,215.0
2,AUS,Adelaide,1666009607,The Postnatalist - Second issue comic book,The Postnatalist explores feminist issues invo...,300.0,353.12,successful,the-postnatalist-second-issue-comic-book,False,...,0.000838,0.000931,3,48,10,9,1672,3124.0,94.440000,4.5
9,AUS,Adelaide,664443090,Dragon Dreaming - drawing in a world of silence.,Profoundly deaf contemporary indigenous artist...,5000.0,5265.00,successful,dragon-dreaming-drawing-in-a-world-of-silence,False,...,0.005027,0.005027,17,47,54,54,1672,3124.0,3913.880000,54.0
10,AUS,Adelaide,513705868,Oh Brother mini-comic: growing up with a broth...,A 32-page A5 colour mini-comic collection of a...,100.0,2260.00,successful,oh-brother-mini-comic-growing-up-with-a-brothe...,False,...,0.011358,0.044034,48,57,473,122,1672,3124.0,2975.532222,61.0
15,AUS,Adelaide,1392677430,The Binary Project | Robin Eley gives away a p...,Own part of a Robin Eley painting for FREE (+p...,7000.0,19875.50,successful,the-binary-project-robin-eley-gives-away-a-pai...,False,...,0.095888,0.105663,11,41,1135,1030,1672,3124.0,6335.670000,1030.0

In [124]:
train_x.columns

Index(['Country', 'City', 'id', 'name', 'blurb', 'goal', 'pledged', 'status',
       'slug', 'disable_communication', 'currency', 'currency_symbol',
       'currency_trailing_code', 'deadline', 'state_changed_at', 'created_at',
       'launched_at', 'staff_pick', 'backers_count', 'deadlineTime',
       'state_changed_atTime', 'created_atTime', 'launched_atTime',
       'Categories', 'spotLight', 'pledgedUSD', 'Ex_USd', 'deadlineYM',
       'state_changed_atYM', 'created_atYM', 'launched_atYM', 'deadlineY',
       'state_changed_atY', 'created_atY', 'launched_atY', 'Pledge_per_person',
       'Prct_goal', 'Length_of_kick', 'City_Pop', 'Latitude', 'Longitude',
       'County', 'State', 'Backers_as_Prct_of_Pop',
       'Backers_as_Prct_of_Pop_YM', 'Backers_as_Prct_of_Pop_Y',
       'Days_spent_making_campign', 'Days_inception_to_Deadline',
       'Backers_in_city_Y', 'Backers_in_city_YM', 'All_Time_Backers_city',
       'Mean_Pledge_City', 'Mean_pledge_city_Y', 'Mean_pledge_city_YM'],
      dtype='object')

In [126]:
train_x.dtypes

Country                        object
City                           object
id                              int64
name                           object
blurb                          object
goal                          float64
pledged                       float64
status                         object
slug                           object
disable_communication            bool
currency                       object
currency_symbol                object
currency_trailing_code           bool
deadline                       object
state_changed_at               object
created_at                     object
launched_at                    object
staff_pick                       bool
backers_count                   int64
deadlineTime                    int64
state_changed_atTime            int64
created_atTime                  int64
launched_atTime                 int64
Categories                     object
spotLight                        bool
pledgedUSD                    float64
Ex_USd                        float64
deadlineYM                     object
state_changed_atYM             object
created_atYM                   object
launched_atYM                  object
deadlineY                       int64
state_changed_atY               int64
created_atY                     int64
launched_atY                    int64
Pledge_per_person             float64
Prct_goal                     float64
Length_of_kick                  int64
City_Pop                        int64
Latitude                      float64
Longitude                     float64
County                         object
State                          object
Backers_as_Prct_of_Pop        float64
Backers_as_Prct_of_Pop_YM     float64
Backers_as_Prct_of_Pop_Y      float64
Days_spent_making_campign       int64
Days_inception_to_Deadline      int64
Backers_in_city_Y               int64
Backers_in_city_YM              int64
All_Time_Backers_city           int64
Mean_Pledge_City              float64
Mean_pledge_city_Y            float64
Mean_pledge_city_YM           float64
dtype: object

In [139]:
import scipy.stats as ss
from collections import Counter
import math 
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np

def convert(data, to):
    converted = None
    if to == 'array':
        if isinstance(data, np.ndarray):
            converted = data
        elif isinstance(data, pd.Series):
            converted = data.values
        elif isinstance(data, list):
            converted = np.array(data)
        elif isinstance(data, pd.DataFrame):
            converted = data.as_matrix()
    elif to == 'list':
        if isinstance(data, list):
            converted = data
        elif isinstance(data, pd.Series):
            converted = data.values.tolist()
        elif isinstance(data, np.ndarray):
            converted = data.tolist()
    elif to == 'dataframe':
        if isinstance(data, pd.DataFrame):
            converted = data
        elif isinstance(data, np.ndarray):
            converted = pd.DataFrame(data)
    else:
        raise ValueError("Unknown data conversion: {}".format(to))
    if converted is None:
        raise TypeError('cannot handle data conversion of type: {} to {}'.format(type(data),to))
    else:
        return converted

def conditional_entropy(x, y):
    """
    Calculates the conditional entropy of x given y: S(x|y)
    Wikipedia: https://en.wikipedia.org/wiki/Conditional_entropy
    :param x: list / NumPy ndarray / Pandas Series
        A sequence of measurements
    :param y: list / NumPy ndarray / Pandas Series
        A sequence of measurements
    :return: float
    """
    # entropy of x given y
    y_counter = Counter(y)
    xy_counter = Counter(list(zip(x,y)))
    total_occurrences = sum(y_counter.values())
    entropy = 0.0
    for xy in xy_counter.keys():
        p_xy = xy_counter[xy] / total_occurrences
        p_y = y_counter[xy[1]] / total_occurrences
        entropy += p_xy * math.log(p_y/p_xy)
    return entropy

def cramers_v(x, y):
    confusion_matrix = pd.crosstab(x,y)
    chi2 = ss.chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum().sum()
    phi2 = chi2/n
    r,k = confusion_matrix.shape
    phi2corr = max(0, phi2-((k-1)*(r-1))/(n-1))
    rcorr = r-((r-1)**2)/(n-1)
    kcorr = k-((k-1)**2)/(n-1)
    return np.sqrt(phi2corr/min((kcorr-1),(rcorr-1)))

def theils_u(x, y):
    s_xy = conditional_entropy(x,y)
    x_counter = Counter(x)
    total_occurrences = sum(x_counter.values())
    p_x = list(map(lambda n: n/total_occurrences, x_counter.values()))
    s_x = ss.entropy(p_x)
    if s_x == 0:
        return 1
    else:
        return (s_x - s_xy) / s_x

def correlation_ratio(categories, measurements):
    fcat, _ = pd.factorize(categories)
    cat_num = np.max(fcat)+1
    y_avg_array = np.zeros(cat_num)
    n_array = np.zeros(cat_num)
    for i in range(0,cat_num):
        cat_measures = measurements[np.argwhere(fcat == i).flatten()]
        n_array[i] = len(cat_measures)
        y_avg_array[i] = np.average(cat_measures)
    y_total_avg = np.sum(np.multiply(y_avg_array,n_array))/np.sum(n_array)
    numerator = np.sum(np.multiply(n_array,np.power(np.subtract(y_avg_array,y_total_avg),2)))
    denominator = np.sum(np.power(np.subtract(measurements,y_total_avg),2))
    if numerator == 0:
        eta = 0.0
    else:
        eta = numerator/denominator
    return eta


def associations(dataset, nominal_columns=None, mark_columns=False, theil_u=False, plot=True,
                          return_results = False, **kwargs):
    """
    Calculate the correlation/strength-of-association of features in data-set with both categorical (eda_tools) and
    continuous features using:
     - Pearson's R for continuous-continuous cases
     - Correlation Ratio for categorical-continuous cases
     - Cramer's V or Theil's U for categorical-categorical cases
    :param dataset: NumPy ndarray / Pandas DataFrame
        The data-set for which the features' correlation is computed
    :param nominal_columns: string / list / NumPy ndarray
        Names of columns of the data-set which hold categorical values. Can also be the string 'all' to state that all
        columns are categorical, or None (default) to state none are categorical
    :param mark_columns: Boolean (default: False)
        if True, output's columns' names will have a suffix of '(nom)' or '(con)' based on there type (eda_tools or
        continuous), as provided by nominal_columns
    :param theil_u: Boolean (default: False)
        In the case of categorical-categorical feaures, use Theil's U instead of Cramer's V
    :param plot: Boolean (default: True)
        If True, plot a heat-map of the correlation matrix
    :param return_results: Boolean (default: False)
        If True, the function will return a Pandas DataFrame of the computed associations
    :param kwargs:
        Arguments to be passed to used function and methods
    :return: Pandas DataFrame
        A DataFrame of the correlation/strength-of-association between all features
    """

    dataset = convert(dataset, 'dataframe')
    columns = dataset.columns
    if nominal_columns is None:
        nominal_columns = list()
    elif nominal_columns == 'all':
        nominal_columns = columns
    corr = pd.DataFrame(index=columns, columns=columns)
    for i in range(0,len(columns)):
        for j in range(i,len(columns)):
            if i == j:
                corr[columns[i]][columns[j]] = 1.0
            else:
                if columns[i] in nominal_columns:
                    if columns[j] in nominal_columns:
                        if theil_u:
                            corr[columns[j]][columns[i]] = theils_u(dataset[columns[i]],dataset[columns[j]])
                            corr[columns[i]][columns[j]] = theils_u(dataset[columns[j]],dataset[columns[i]])
                        else:
                            cell = cramers_v(dataset[columns[i]],dataset[columns[j]])
                            corr[columns[i]][columns[j]] = cell
                            corr[columns[j]][columns[i]] = cell
                    else:
                        cell = correlation_ratio(dataset[columns[i]], dataset[columns[j]])
                        corr[columns[i]][columns[j]] = cell
                        corr[columns[j]][columns[i]] = cell
                else:
                    if columns[j] in nominal_columns:
                        cell = correlation_ratio(dataset[columns[j]], dataset[columns[i]])
                        corr[columns[i]][columns[j]] = cell
                        corr[columns[j]][columns[i]] = cell
                    else:
                        cell, _ = ss.pearsonr(dataset[columns[i]], dataset[columns[j]])
                        corr[columns[i]][columns[j]] = cell
                        corr[columns[j]][columns[i]] = cell
    corr.fillna(value=np.nan, inplace=True)
    if mark_columns:
        marked_columns = ['{} (nom)'.format(col) if col in nominal_columns else '{} (con)'.format(col) for col in columns]
        corr.columns = marked_columns
        corr.index = marked_columns
    if plot:
        plt.figure(figsize=(20,20))#kwargs.get('figsize',None))
        sns.heatmap(corr, annot=kwargs.get('annot',True), fmt=kwargs.get('fmt','.2f'), cmap='coolwarm')
        plt.show()
    if return_results:
        return corr

df = train_x.drop(['id', 'pledged', 'disable_communication', 'currency_symbol', 'currency_trailing_code', 'deadline', 'state_changed_at', 'created_at', 'launched_at', 'pledgedUSD', 'Ex_USd', 'deadlineYM', 'state_changed_atYM', 'created_atYM', 'launched_atYM', 'Pledge_per_person', 'Prct_goal', 'Backers_as_Prct_of_Pop', 'Backers_as_Prct_of_Pop_YM', 'Backers_as_Prct_of_Pop_Y'], axis = 1)
df = df.fillna(0)

from sklearn.preprocessing import OneHotEncoder, LabelEncoder

cat_list = ['Country','staff_pick', 'Categories', 'spotLight', 'State']
labelencoder_x = LabelEncoder()
for i in cat_list:
    df[i] = labelencoder_x.fit_transform(df[i]) 
    
catcols = ['Country', 'City', 'name', 'blurb', 'status', 'slug', 'currency', 'staff_pick', 'Categories', 'spotLight', 'County', 'State']
results = associations(df,nominal_columns=catcols,return_results=True)

IndexError: single positional indexer is out-of-bounds

In [3]:
data = train_x.drop(['launched_at','City','pledgedUSD','deadlineY','launched_atY', 'Prct_goal','deadline', 'state_changed_at', 'currency', 'currency_symbol','slug', 'pledged', 'Ex_USd', 'created_at','created_atYM', 'disable_communication', 'id', 'currency_trailing_code', 'deadlineTime', 'state_changed_atTime', 'created_atTime', 'launched_atTime', 'state_changed_atYM','state_changed_atY','Days_inception_to_Deadline','Backers_as_Prct_of_Pop', 'Backers_as_Prct_of_Pop_Y', 'All_Time_Backers_city', 'Mean_Pledge_City', 'Mean_pledge_city_Y', 'created_atY','County', 'Backers_as_Prct_of_Pop_YM', 'Backers_in_city_YM', 'Mean_pledge_city_YM', 'Pledge_per_person'], axis = 1)

In [4]:
data['len_name'] = data.name.str.len()
data['word_name'] = data.name.apply(lambda w: len(str(w).split(' ')))
#x['exclamation'] = (x.name.str[-1] == '!').astype(int)
#x['question'] = (x.name.str[-1] == '?').astype(int)
data['word_name_radio'] = data.word_name / data.len_name

data['len_blurb'] = data.blurb.str.len()
data['word_blurb'] = data.blurb.apply(lambda w: len(str(w).split(' ')))
#x['exclamation'] = (x.name.str[-1] == '!').astype(int)
#x['question'] = (x.name.str[-1] == '?').astype(int)
data['word_blurb_radio'] = data.word_blurb / data.len_blurb

name = data.name
data = data.drop(['name','blurb'], axis = 1)

In [5]:
data.columns

Index(['Country', 'goal', 'status', 'staff_pick', 'backers_count',
       'Categories', 'spotLight', 'deadlineYM', 'launched_atYM',
       'Length_of_kick', 'City_Pop', 'Latitude', 'Longitude', 'State',
       'Days_spent_making_campign', 'Backers_in_city_Y', 'len_name',
       'word_name', 'word_name_radio', 'len_blurb', 'word_blurb',
       'word_blurb_radio'],
      dtype='object')

In [6]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

cat_list = ['Country','staff_pick', 'Categories', 'spotLight', 'State']
labelencoder_x = LabelEncoder()
for i in cat_list:
    data[i] = labelencoder_x.fit_transform(data[i])

In [79]:
data.isnull().sum()

Country                      0
goal                         0
status                       0
staff_pick                   0
backers_count                0
Categories                   0
spotLight                    0
deadlineYM                   0
launched_atYM                0
Length_of_kick               0
City_Pop                     0
Latitude                     0
Longitude                    0
State                        0
Days_spent_making_campign    0
Backers_in_city_Y            0
len_name                     0
word_name                    0
word_name_radio              0
len_blurb                    0
word_blurb                   0
word_blurb_radio             0
dtype: int64

In [82]:
for col in ['goal', 'backers_count', 'Length_of_kick', 'City_Pop', 'Days_spent_making_campign', 'Backers_in_city_Y', 'word_blurb_radio', 'word_name_radio']:
    data[col] = (data[col] - data[col].mean()) / (data[col].max() - data[col].min())

In [83]:
data.head()

,Country,goal,status,staff_pick,backers_count,Categories,spotLight,deadlineYM,launched_atYM,Length_of_kick,...,Longitude,State,Days_spent_making_campign,Backers_in_city_Y,len_name,word_name,word_name_radio,len_blurb,word_blurb,word_blurb_radio
0,0,-0.000284,successful,0,0.000415,12,0,1707,1705,0.048325,...,138.598633,0,-0.010361,-0.091762,47,8,0.002613,134,25,0.016468
2,0,-0.000331,successful,1,-0.000528,0,0,1501,1412,0.125249,...,138.598633,0,-0.018140,-0.093080,42,7,-0.000963,135,17,-0.044564
9,0,-0.000284,successful,0,-0.000319,0,0,1510,1509,-0.039587,...,138.598633,0,-0.012090,-0.092955,48,9,0.020044,131,18,-0.033011
10,0,-0.000333,successful,0,-0.000013,1,0,1707,1707,-0.270356,...,138.598633,0,0.001307,-0.091762,60,10,-0.000963,120,18,-0.020335
15,0,-0.000264,successful,0,0.004130,0,0,1701,1612,-0.039587,...,138.598633,0,-0.014683,-0.089877,58,11,0.022217,132,24,0.011689

In [14]:
deadlineYM = []
launched_atYM = []
for i, row in data.iterrows():
    temp1 = ''
    temp2 = ''
    temp1 += row[7][:2] + row[7][3:]
    temp2 += row[8][:2] + row[8][3:]
    deadlineYM.append(temp1)
    launched_atYM.append(temp2)

In [15]:
data['deadlineYM'] = deadlineYM
data['launched_atYM'] = launched_atYM
data.head()

,Country,goal,status,staff_pick,backers_count,Categories,spotLight,deadlineYM,launched_atYM,Length_of_kick,...,Longitude,State,Days_spent_making_campign,Backers_in_city_Y,len_name,word_name,word_name_radio,len_blurb,word_blurb,word_blurb_radio
0,0,5000.0,successful,0,215,12,0,1707,1705,38,...,138.598633,0,21,473,47,8,0.170213,134,25,0.186567
2,0,300.0,successful,1,8,0,0,1501,1412,45,...,138.598633,0,3,10,42,7,0.166667,135,17,0.125926
9,0,5000.0,successful,0,54,0,0,1510,1509,30,...,138.598633,0,17,54,48,9,0.187500,131,18,0.137405
10,0,100.0,successful,0,121,1,0,1707,1707,9,...,138.598633,0,48,473,60,10,0.166667,120,18,0.150000
15,0,7000.0,successful,0,1030,0,0,1701,1612,30,...,138.598633,0,11,1135,58,11,0.189655,132,24,0.181818

In [23]:
data.columns

Index(['Country', 'goal', 'status', 'staff_pick', 'backers_count',
       'Categories', 'spotLight', 'deadlineYM', 'launched_atYM',
       'Length_of_kick', 'City_Pop', 'Latitude', 'Longitude', 'State',
       'Days_spent_making_campign', 'Backers_in_city_Y', 'len_name',
       'word_name', 'word_name_radio', 'len_blurb', 'word_blurb',
       'word_blurb_radio'],
      dtype='object')

In [49]:
data.isnull().sum()

Country                      0
goal                         0
status                       0
staff_pick                   0
backers_count                0
Categories                   0
spotLight                    0
deadlineYM                   0
launched_atYM                0
Length_of_kick               0
City_Pop                     0
Latitude                     0
Longitude                    0
State                        0
Days_spent_making_campign    0
Backers_in_city_Y            0
len_name                     0
word_name                    0
word_name_radio              0
len_blurb                    0
word_blurb                   0
word_blurb_radio             0
dtype: int64

In [32]:
sub_data1 = data[['goal', 'backers_count', 'Length_of_kick', 'City_Pop', 'Days_spent_making_campign', 'Backers_in_city_Y', 'word_blurb_radio', 'word_name_radio']]
sub_data2 = data.drop(['goal', 'backers_count', 'Length_of_kick', 'City_Pop', 'Days_spent_making_campign', 'Backers_in_city_Y', 'word_blurb_radio', 'word_name_radio'], axis = 1)
from sklearn.preprocessing import MinMaxScaler

min_max_scaler = MinMaxScaler()
sub_x = pd.DataFrame(min_max_scaler.fit_transform(sub_data1), columns = ['goal', 'backers_count', 'Length_of_kick', 'City_Pop', 'Days_spent_making_campign', 'Backers_in_city_Y', 'word_blurb_radio', 'word_name_radio'])

In [33]:
sub_data1.head()

,goal,backers_count,Length_of_kick,City_Pop,Days_spent_making_campign,Backers_in_city_Y,word_blurb_radio,word_name_radio
0,5000.0,215,38,1074168,21,473,0.186567,0.170213
2,300.0,8,45,1074168,3,10,0.125926,0.166667
9,5000.0,54,30,1074168,17,54,0.137405,0.187500
10,100.0,121,9,1074168,48,473,0.150000,0.166667
15,7000.0,1030,30,1074168,11,1135,0.181818,0.189655

In [53]:
sub_data2.head()

,Country,status,staff_pick,Categories,spotLight,deadlineYM,launched_atYM,Latitude,Longitude,State,len_name,word_name,len_blurb,word_blurb
0,0,successful,0,12,0,1707,1705,-34.928661,138.598633,0,47,8,134,25
2,0,successful,1,0,0,1501,1412,-34.928661,138.598633,0,42,7,135,17
9,0,successful,0,0,0,1510,1509,-34.928661,138.598633,0,48,9,131,18
10,0,successful,0,1,0,1707,1707,-34.928661,138.598633,0,60,10,120,18
15,0,successful,0,0,0,1701,1612,-34.928661,138.598633,0,58,11,132,24

In [54]:
sub_data2.shape

(82160, 14)

In [34]:
sub_x.head()

,goal,backers_count,Length_of_kick,City_Pop,Days_spent_making_campign,Backers_in_city_Y,word_blurb_radio,word_name_radio
0,4.999000e-05,0.000980,0.406593,0.123146,0.009075,0.001347,0.181319,0.163298
1,2.990000e-06,0.000036,0.483516,0.123146,0.001296,0.000028,0.120287,0.159722
2,4.999000e-05,0.000246,0.318681,0.123146,0.007347,0.000154,0.131839,0.180729
3,9.900000e-07,0.000552,0.087912,0.123146,0.020743,0.001347,0.144516,0.159722
4,6.999000e-05,0.004695,0.318681,0.123146,0.004754,0.003232,0.176540,0.182902

In [55]:
sub_x.shape

(82160, 8)

In [66]:
X = pd.concat([sub_data2, sub_x], axis = 1,sort = False)
X.head()

,Country,status,staff_pick,Categories,spotLight,deadlineYM,launched_atYM,Latitude,Longitude,State,...,len_blurb,word_blurb,goal,backers_count,Length_of_kick,City_Pop,Days_spent_making_campign,Backers_in_city_Y,word_blurb_radio,word_name_radio
0,0.0,successful,0.0,12.0,0.0,1707,1705,-34.928661,138.598633,0.0,...,134.0,25.0,4.999000e-05,0.000980,0.406593,0.123146,0.009075,0.001347,0.181319,0.163298
1,0.0,failed,0.0,0.0,0.0,1708,1706,-34.928661,138.598633,0.0,...,133.0,24.0,2.990000e-06,0.000036,0.483516,0.123146,0.001296,0.000028,0.120287,0.159722
2,0.0,successful,1.0,0.0,0.0,1501,1412,-34.928661,138.598633,0.0,...,135.0,17.0,4.999000e-05,0.000246,0.318681,0.123146,0.007347,0.000154,0.131839,0.180729
3,0.0,failed,0.0,5.0,0.0,1704,1702,-34.928661,138.598633,0.0,...,127.0,20.0,9.900000e-07,0.000552,0.087912,0.123146,0.020743,0.001347,0.144516,0.159722
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.999000e-05,0.004695,0.318681,0.123146,0.004754,0.003232,0.176540,0.182902

In [77]:
X.shape

(96282, 22)

In [78]:
X.isnull().sum()

Country                      14122
status                       14122
staff_pick                   14122
Categories                   14122
spotLight                    14122
deadlineYM                   14122
launched_atYM                14122
Latitude                     14122
Longitude                    14122
State                        14122
len_name                     14122
word_name                    14122
len_blurb                    14122
word_blurb                   14122
goal                         14122
backers_count                14122
Length_of_kick               14122
City_Pop                     14122
Days_spent_making_campign    14122
Backers_in_city_Y            14122
word_blurb_radio             14122
word_name_radio              14122
dtype: int64

In [76]:
nX = X.dropna(axis = 0)
nX.shape

(68038, 22)

In [84]:
X = data.drop(['status','len_name','len_blurb','word_name', 'word_blurb'], axis = 1)
y = data.status

In [86]:
X.head()

,Country,goal,staff_pick,backers_count,Categories,spotLight,deadlineYM,launched_atYM,Length_of_kick,City_Pop,Latitude,Longitude,State,Days_spent_making_campign,Backers_in_city_Y,word_name_radio,word_blurb_radio
0,0,-0.000284,0,0.000415,12,0,1707,1705,0.048325,-0.016425,-34.928661,138.598633,0,-0.010361,-0.091762,0.002613,0.016468
2,0,-0.000331,1,-0.000528,0,0,1501,1412,0.125249,-0.016425,-34.928661,138.598633,0,-0.018140,-0.093080,-0.000963,-0.044564
9,0,-0.000284,0,-0.000319,0,0,1510,1509,-0.039587,-0.016425,-34.928661,138.598633,0,-0.012090,-0.092955,0.020044,-0.033011
10,0,-0.000333,0,-0.000013,1,0,1707,1707,-0.270356,-0.016425,-34.928661,138.598633,0,0.001307,-0.091762,-0.000963,-0.020335
15,0,-0.000264,0,0.004130,0,0,1701,1612,-0.039587,-0.016425,-34.928661,138.598633,0,-0.014683,-0.089877,0.022217,0.011689

In [87]:
from sklearn.svm import SVC 
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

SVM_classifier = SVC() 
SVM_classifier.fit(X_train, y_train)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [89]:
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import classification_report 
from sklearn.metrics import accuracy_score
from sklearn.metrics import multilabel_confusion_matrix

Y_pred = SVM_classifier.predict(X_test)

print('SVM classification report \n',classification_report(y_test, Y_pred))
print('SVM confusion_matrix \n',confusion_matrix(y_test, Y_pred),'\n')
print('SVM accuracy is', accuracy_score(Y_pred, y_test))

SVM classification report
               precision    recall  f1-score   support

      failed       0.64      0.74      0.69     11279
  successful       0.61      0.50      0.55      9261

    accuracy                           0.63     20540
   macro avg       0.63      0.62      0.62     20540
weighted avg       0.63      0.63      0.63     20540

SVM confusion_matrix
 [[8301 2978]
 [4598 4663]]

SVM accuracy is 0.6311587147030185

In [ ]:
x.shape[0]

In [ ]:
bestfeatures = SelectKBest(score_func=chi2, k=30)
fit = bestfeatures.fit(x,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(30,'Score'))  #print 10 best features

In [ ]:
data1 = data1.drop(['Unnamed: 0', 'X1', 'X1_1', 'currency_symbol', 'currency_trailing_code','disable communication', 'deadline', 'state_changed_at', 'created_at', 'launched_at', 'deadlineYM', 'state_changed_atYM', 'created_atYM', 'launched_atYM'], axis = 1)
data1.head()

In [ ]:
data1.columns

In [ ]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
%matplotlib inline

successful_name = data1[data1.status == 'successful']['name'].values
wordcloud = WordCloud(background_color='white').generate(str(successful_name))
plt.figure(figsize=(15, 15))
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.show()

In [ ]:
failure_name = data1[data1.status == 'failed']['name'].values
wordcloud1 = WordCloud(background_color='white').generate(str(failure_name))
plt.figure(figsize=(15, 15))
plt.imshow(wordcloud1, interpolation='bilinear')
plt.axis("off")
plt.show()

In [ ]:
df

In [ ]:
data2 = pd.read_csv('mapkickstarter/Mapping.csv')
data2.head()

In [ ]:
data3 = pd.read_csv('mapkickstarter/County.csv')
data3.head()